body{
    background-image: url(./pics/background.png);
}
h1{
    font-weight: bold;
    text-decoration: underline;
}
.link1{
    position:relative;
    left:1165px;
    bottom:40px;
}
.link2{
    position:relative;
    left:1230px;
    bottom:59px;
}
#portfolio1{
    position:relative;
    left:1300px;
    bottom:77px;
}
#portfolio2{
    position:relative;
    left:1300;
    bottom: 77px;
}
#portfolio3{
    position: relative;
    left:1300px;
    bottom:77px;
}
#project1{
    width:430px;
    height:305px;
}
#project2{
    width:430px;
}
h2{
    text-decoration: underline;
}
#project3{
    width:430px;
    height:300px;
}
h3{
    text-decoration: underline;
    font-weight: bold;
    color: aquamarine;
}
h4{
    color:rgb(87, 175, 222);
}
.mainpara{
    border-style: double;
    border-color: black;
    background-color: antiquewhite;
}
.firstp{
    display:flex;
    gap:5px;
    background-color: rgb(11, 250, 38);
    flex-wrap: wrap;
    width: 97.5%;
}
a{
    border:2px solid black;
    color:rgb(0, 0, 0);
    border-radius: 5px;;
    background-color: beige;
}
a:hover{
    background-color: rgb(237, 253, 1);
}
.project11{
    border:2px solid black;
    width: 450px;
    background-color: yellow;
}
.project21{
    border:2px solid black;
    width:450px;
    background-color: skyblue;
}
.project31{
    border:2px solid black;
    width:450px;
    background-color: rgb(250, 124, 231);
}
